html,
*,
*::before,
*::after{
	box-sizing: border-box;
}
	.parent{
		height: 100vh;
		width: 100vw;
		overflow-x: hidden;
		padding: 1rem;
		padding-top: 0;
	}	
section div{
	margin-bottom: 2%;
}
section{
	box-shadow: 2px 2px 4px 2px rgb(0, 0, 0.1);
	width: 90%;
	padding: 4px;
}
input{
	width: 50%;
}
 .aligner a{
            margin-left: 3%;
        }
        .aligner img{
height: 1.6rem;
width: 1.6rem;
        }
h3{
	margin:0;
	background: #27953d;
	color: white;
	padding: 5px;
	flex-basis: 65vw;
}
footer{
	margin-top: 10%;
	padding-bottom: 4%;
}
.calculate{
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.3rem;
	border-radius: 0.8rem;
	cursor: pointer;
}
header{
		margin-bottom: 12%;
		display: flex;
		gap: 5%;
		align-items: flex-start;
		padding-right: 3%;
	}
.close a{
font-size: 1.4rem;
	background: red;
	color: white;
	text-decoration: none;
	padding: 3px;
}
.close{
	flex-basis: 5%;
	text-align: center;
	display: inline-block;
	flex-basis: 5%;
}
header img{
	height: 5rem;
	width: 5rem;
	flex-basis: 10%;
}
.calculate:hover{
	background: #efcc00;
	color: #222;
}
.follow{
	color: #7c6900;
}
.brand{
	font-size: 1.2rem;
	font-weight: 600;
	color: #27953d;
}
.no-sitting{
display: inline-block;
white-space: nowrap;
}