	html,
	*,
	*::before,
	*::after{
box-sizing: border-box;
	}
	body{
		overflow-x: hidden;
	background: url(../images/background-nature.jpg);
background-repeat: no-repeat;
background-size:cover ;
background-position: center;

	}
.parent{
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	pading:4%;
	
}

	ul{
		list-style: none;
		position: relative;
		padding-right: 3%;
	}
	ul a{
		text-decoration: none;
		color: #000;
		background: #f1f1f1;
		display: block;
		padding: 3px;
		border-radius: 5px;
	}
	ul li{
		margin-bottom: 4%;
	}
	ul a:hover{
color: #fff;
background: #1401b0;
padding: 5px;
	}
header{
  display: flex;
  gap: 30%;
  position: fixed;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 5%;
  width: 100%;
  background: lavender;
}
h3{
	font-family:serif;
	margin: 0;
	color: #220340;
}

label::before{
	content: "\2630";
cursor: pointer;
font-size: 1.5rem;
}
nav{
	display: none;
	position: absolute;
	margin-left: -45%;
}

input{
	display: none;
}
 .toggle input:checked ~ .nav-menu{
	display: block;
}
.toggle input:checked + label::before{
	content: "\2715";
}
main{
	padding-top: 5%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 3%;
	margin-top:30%;
}
main span{
	color: #1401b0;
	font-weight: 600;
}
h4{
	color: #fff;
	font: caption;
	letter-spacing: 1px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 700;
	opacity: 100%;
}
h5{
	color:white;
	letter-spacing: 1px;
background: #1401b0;
display: inline-block;
padding: 4px;
}
main div{
letter-spacing: 1px;
line-break: 3px;
color: #000;
background: lavender;
padding: 10px;
border-radius: 12px;
}
main p{
font-weight: 700;
font-size: 1.2rem;
background: lightgray;
display: inline-block;
padding: 5px;
	font-style:italic;

}

@media(min-width:895px){
main{
	margin-top: 20%;
}
}

@media(min-width:1061px){
header{
	padding-left: 0;
	padding-right: 0;
display: flex;
gap: 43%;
}
h3{
	font-size: 0.8rem;
	line-break:normal;
	padding-bottom:3% ;
	padding-left:2px ;
}
input, label{
	display: none;
}
nav{
	display: block;
}
ul{
	display: flex;
	gap: 5px;
	white-space: nowrap;
	padding-right:2px ;
	padding-bottom:3% ;
	 ;
}
ul a{
	background:red;
	font-size: 0.7rem;
	margin-top: -12%;
	border-radius: 5px;
}
main{
	margin-top: 15%;
}





}
@media(min-width:1110px){
ul{
	gap: 8px;
}
h3{
	padding-left: 20px;
}
header{
	gap: 45%;
}


}